@use "@/shared/styles/common.scss" as common;

.animalCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
}

.slideContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  box-shadow: 0px -6px 12.8px -7px rgba(0, 0, 0, 0.1);
  @include common.width(220);
  @include common.height(350);
}

.animalCardTitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 10px 10px 0px 0px;
  @include common.height(45);
}

.animalCardBody {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  flex: 1;
}

.iconText {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
