@use "shared/styles/common" as *;

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include py(30);
  @include px(24);
  border-radius: 10px;
  background-color: var(--write-routine-modal-content-bg);
  margin: rh(11) 0;
  border: 1px solid var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.contentTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: rh(6);
  width: 100%;
  margin-bottom: rh(30);
}

.nameInput {
  @include py(6);
  @include px(12);
  border: none;
  border-radius: 10px;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.type {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: rh(7);
  margin-top: rh(30);
}

.typeLabel {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: rw(16);
  gap: rw(4);
}

.typeSelect {
  width: 100%;
  @include py(8);
  padding-left: rw(22);
  padding-right: rw(14);
  border-radius: 10px;
  border: none;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.typeContent {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: rw(5);
}

.typeSelectIcon {
  width: rw(15);
  height: rh(13);
  position: relative;
}

.typeOptionBox {
  width: 100%;
  position: absolute;
  bottom: 110%;
  left: 0;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  &.active {
    display: flex;
  }
}

.typeOption {
  width: 100%;
  @include py(12);
  @include px(16);
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;

  &.active {
    background-color: var(--tertiary);
  }

  &.first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
