@use "shared/styles/common.scss" as common;

.container {
  position: relative;
  width: 100%;
  @include common.pt(40);
}

.imgContainer {
  @include common.width(202);
  @include common.height(98);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  @include common.py(10);
  background-color: var(--label-bg-color, var(--invalid));
  width: 100%;
  border-radius: 10px;
}
