@use "../../../shared/styles/common" as common;

.container {
  @include common.width(210);
  @include common.height(30);
  border: 1px solid var(--primary);
  border-radius: 10px;
}

.mainCategorySelect {
  flex: 2;
  @include common.pl(6);
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--primary); /* 노란색 배경 */
  appearance: none; /* 기본 드롭다운 화살표 제거 */
  background-image: url("/images/white-triangle.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  background-size: common.rw(7);
  font-size: 12px;
  font-weight: 700;
  color: var(--background);

  &:focus {
    outline: none;
    border-color: var(--primary);
  }
}

.iconContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    object-fit: contain;
  }
}

.divider {
  width: common.rw(0.5);
  height: 80%;
  background-color: var(--invalid);
}

.subCategorySelect {
  flex: 2;
  @include common.pl(6);
  border-radius: 10px;
  height: 100%;
  border: none;
  appearance: none;
  background-image: url("/images/primary-triangle.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  background-size: common.rw(7);
  font-size: 12px;
  font-weight: 500;
  color: var(--brown);

  &:focus {
    outline: none;
    border-color: var(--primary);
  }
}
