@use "shared/styles/common" as *;

.container {
  @include width(250);
  @include px(11);
  @include py(16);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: rh(16);
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleAffix {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: rw(4);
}
