@use "shared/styles/common" as *;

.container {
  width: 100%;
  @include height(354);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: rh(8);
  overflow-y: auto;
  padding-bottom: rh(8);
  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
}
