@use "shared/styles/common.scss" as common;

.button {
  background-color: var(--btn-color, var(--brown));
  max-width: calc(1200px - (100dvw / 360 * 120));
  @include common.width(var(--btn-width, 300));
  @include common.height(var(--btn-height, 57));
  border-radius: 10px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-text-color, white);
  font-size: var(--btn-font-size, 16px);
  font-weight: var(--btn-font-weight, 700);
  margin-top: calc(100dvh / 740 * var(--btn-mt, 0));
  margin-right: calc(100dvw / 360 * var(--btn-mr, 0));
  margin-bottom: calc(100dvh / 740 * var(--btn-mb, 0));
  margin-left: calc(100dvw / 360 * var(--btn-ml, 0));
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.invalid {
    pointer-events: none;
  }
}

.arrowButton {
  @include common.width(var(--arrow-size, 28));
  aspect-ratio: 1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--arrow-color, var(--primary));
  border: 0;
  @include common.mt(var(--arrow-mt, 0));
  @include common.mr(var(--arrow-mr, 0));
  @include common.mb(var(--arrow-mb, 0));
  @include common.ml(var(--arrow-ml, 16));

  &:hover {
    cursor: pointer;
  }
}

.chkbox {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid var(--box-color, var(--brown));
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  &:checked {
    background-color: var(--box-color, var(--brown));
  }

  &:checked::after {
    content: "";
    position: absolute;
    left: 4px; // 체크 모양 위치 조정
    top: 0px; // 체크 모양 위치 조정
    width: 3px; // 체크 모양 두께 조정
    height: 8px; // 체크 모양 길이 조정
    border: solid white; // 체크 색상 (보통 흰색)
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
