.button {
  background-color: var(--color, var(--brown));
  width: var(--width, 100%);
  height: var(--height, clamp(60px, 8dvh, 75px));
  border-radius: 10px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color, white);
  font-size: var(--font-size, 16px);
  font-weight: var(--font-weight, 600);
  margin-top: calc(100dvh / 740 * var(--mt, 0));
  margin-right: calc(100dvw / 360 * var(--mr, 0));
  margin-bottom: calc(100dvh / 740 * var(--mb, 0));
  margin-left: calc(100dvw / 360 * var(--ml, 0));
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.arrowButton {
  width: calc(100dvw / 360 * var(--size, 28));
  height: calc(100dvw / 360 * var(--size, 28));
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color, var(--primary));
  margin-top: calc(100dvh / 740 * var(--mt, 0));
  margin-right: calc(100dvw / 360 * var(--mr, 0));
  margin-bottom: calc(100dvh / 740 * var(--mb, 0));
  margin-left: calc(100dvw / 360 * var(--ml, 0));
  border: 0;
}
