// Helper functions to calculate responsive values
@function rh($value) {
  @return calc(100dvh / 740 * #{$value});
}

@function rw($value) {
  @return calc(100dvw / 360 * #{$value});
}

@mixin spacing($mt: 0, $mr: 0, $mb: 0, $ml: 0, $pt: 0, $pr: 0, $pb: 0, $pl: 0) {
  margin-top: rh($mt);
  margin-right: rw($mr);
  margin-bottom: rh($mb);
  margin-left: rw($ml);
  padding-top: rh($pt);
  padding-right: rw($pr);
  padding-bottom: rh($pb);
  padding-left: rw($pl);
}

@mixin margin($mt: 0, $mr: 0, $mb: 0, $ml: 0) {
  margin-top: rh($mt);
  margin-right: rw($mr);
  margin-bottom: rh($mb);
  margin-left: rw($ml);
}

@mixin mx($mx: 0) {
  margin-right: rw($mx);
  margin-left: rw($mx);
}

@mixin my($my: 0) {
  margin-top: rh($my);
  margin-bottom: rh($my);
}

@mixin mt($mt: 0) {
  margin-top: rh($mt);
}

@mixin mr($mr: 0) {
  margin-right: rw($mr);
}

@mixin mb($mb: 0) {
  margin-bottom: rh($mb);
}

@mixin ml($ml: 0) {
  margin-left: rw($ml);
}

@mixin padding($pt: 0, $pr: 0, $pb: 0, $pl: 0) {
  padding-top: rh($pt);
  padding-right: rw($pr);
  padding-bottom: rh($pb);
  padding-left: rw($pl);
}

@mixin px($px: 0) {
  padding-right: rw($px);
  padding-left: rw($px);
}

@mixin py($py: 0) {
  padding-top: rh($py);
  padding-bottom: rh($py);
}

@mixin pt($pt: 0) {
  padding-top: rh($pt);
}

@mixin pr($pr: 0) {
  padding-right: rw($pr);
}

@mixin pb($pb: 0) {
  padding-bottom: rh($pb);
}

@mixin pl($pl: 0) {
  padding-left: rw($pl);
}

@mixin width($width: 0) {
  width: rw($width);
}

@mixin height($height: 0) {
  height: rh($height);
}
