.text {
  font-size: var(--font-size, 12px);
  font-weight: var(--font-weight, 400);
  color: var(--color, var(--black));
  white-space: pre-line;
  text-align: center;
  font-family: var(--font-family, var(--inter));
}
