.titleImg {
  position: relative;
  width: 100%;
  height: calc(100dvh / 740 * 458);
  margin: 0 auto;
}

.belowTitle {
  position: absolute;
  width: calc(100% / 360 * 237);
  height: calc(100% / 458 * 117);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.bracket {
  position: absolute;
  width: 7px;
  height: 12px;
  right: 13px;
}

.welcome {
  margin-top: calc(100dvh / 740 * 28);
  font-size: 20px;
  text-align: center;
}
