@use "@/shared/styles/common" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: rh(40);
}

.content {
  width: 100%;
  flex: 1;
  padding-top: rh(15);
  padding-bottom: calc(rh(80) + 7px);
  @include px(30);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  justify-content: center;
  place-items: center;
  gap: rh(12) rw(12);
}
