@use "shared/styles/common" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: rh(40);
  padding-bottom: rh(100);
}

.selectBtn {
  @include width(63);
  height: 100%;
  border-radius: 10px;
  background-color: var(--brown);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brown);
  cursor: pointer;

  &.active {
    background-color: var(--primary);
  }
}

.tabBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include height(37);
  @include mt(40);
  @include px(30);
  @include mb(10);
}

.scheduleTab {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  gap: rw(2);

  &.active {
    background-color: var(--brown);
  }
}

.scheduleSvg {
  width: rw(14);
  height: rw(16);
  color: var(--invalid);

  &.active {
    color: var(--white);
  }
}

.routineTab {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  gap: rw(2);

  &.active {
    background-color: var(--brown);
  }
}

.routineSvg {
  width: rw(15);
  height: rw(15);
  color: var(--invalid);

  &.active {
    color: var(--white);
  }
}
